 /*Configuracion inicial de la página*/

 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body
{
  background-color:#eee;
  font-family: sans-serif;
  color:#333;
}

header{
  padding:2% 5%;
  color:red;
  background: #e6ecf0;
}

.title{
  display:inline-block;
  font-weight:bold;
  padding:5px;
  border:solid 1px red;
}

.uppercase{
  text-transform:uppercase;
}

.button{
  float:right;
  cursor: pointer;
}

.menu-navigator{
  float:right;
  
  display:none;
}

.item{
  display:inline-block;
  padding:5px;
  outline:solid 1px red;
}

.item a{
  text-decoration:none;
  color:black;
}
.item a:hover{
  color:white;
}



figure img{
  width:100%;
}

@media screen and (min-width : 769px) {
  header{
    
    color:green;  
  }
  .button{
    display:none;
  }

  .menu-navigator{
    display:inline-block;
  }
}

@media screen and (min-width : 993px) {
  header{
      color:blue;
  }

}